<main role="main" class="product-page">
    <div class="product-page-details">
        <div class="container">
        
                <b>As entregas poderão ser realizadas via transportadora, Correios ou através da retirada em nossa matriz. Os serviços de entrega estarão disponíveis mediante a análise da região cadastrada. O prazo de entrega varia conforme a região e começa a ser calculado a partir da data de confirmação do pagamento. A Ala Rodas não se responsabiliza por qualquer tipo de paralização (greve) realizada pelos meios de entrega (Correios, transportadoras, etc.) ou fenômenos naturais (tempestades, alagamentos, etc.) que venham a atrasar a entrega.
                    Caso a transportadora não consiga realizar a entrega na primeira tentativa, a equipe de atendimento responsável pela entrega entrará em contato via telefone ou e-mail informando que uma nova tentativa será realizada nos próximos dias. Se não for possível realizar a entrega nasegunda tentativa, a mercadoria retornará ao nosso depósito e ficará disponível para retirada.
                </b>
            
        </div>
    </div>
</main>